h1{
    text-align: center;
}
.para{
    text-align: center;
    background-image: url(https://bit.ly/3agTwp9);
    background-size: cover;
    height: 200px;
    padding-top: 15%;
    font-size: 25px;
    padding-bottom: 15%;
    color: white;
}
h2{
    color: darkblue;
    font-size: 40px;
    text-decoration: underline;
    text-shadow: white;
}
#btn{
    padding: 0px;
    font-size: 30px;
    text-align: center;
}
#btn:hover{
    background-color: black;
    color:white;
}
#footer p{
    margin-top: 18%;
    color: white;
    margin-left: 10%;
    font-size: 50px;
}




/* // ***************** order.html *************** // */
#order{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    background-image: url(https://bit.ly/398BqoY);
}
}
#btn2{
    margin-left: 5%;
    margin-top: 1%;
    padding: 20px 40px;
    font-size: 20px;

}
#btn2:hover{
    background-color: orange;
    color:white;
    

}
#order h1{
    text-align: center;
    color: white;
    margin-top: 8%;
    font-family: 'Times New Roman', Times, serif;
    font-size:70px; 
}
#piz img{
    margin-left: 20%;
    border-radius: 70%;
}
#piz h2{
    text-align: center;
}
h3{
    text-align: center;
    font-weight: bolder; 
}

#form{
    margin-left: 20%;

}
#form label{
    font-size: 40px;
    text-align: center;
    margin-left: 30%;
}
#submit2{
    margin-top: 30px;
}
#order{
    background-color: blueviolet;
}
#piz{
    background-color: brown;
}